//   _____ _____ _____ _____ _____ _____ _____ _____ _____ 
//  |   __|  _  |   __|_   _|   __|   __|_   _|     |  |  |
//  |   __|     |__   | | | |   __|   __| | | |   --|     |
//  |__|  |__|__|_____| |_| |__|  |_____| |_| |_____|__|__| 


// ─────────────────────────────────────────────────────────────
{
    "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
    "logo": {
        "type": "auto",
        "source": "gentoo",
        "padding": {
            "top": 2,
            "left": 2
        }
    },
    "display": {
        "separator": "",
        "constants": [
            "\u001b[48;2;20;18;36m",
            "\u001b[48;2;32;28;56m",
            "\u001b[49m",
            "\u001b[38;2;154;130;255m",
            "\u001b[38;2;200;184;255m",
            "\u001b[38;2;200;184;255m",
            "\u001b[38;2;220;216;255m",
            "\u001b[0m",
            "                                            │\u001b[45D"
        ],
        "color": {
            "keys": "white"
        }
    },
    "modules": [
        "break",

        // ═══════════════════════ HARDWARE ═══════════════════════
        {
            "type": "custom",
            "format": "{$4}┌── Hardware ──┐┌────────────────────────────────────────────┐"
        },
        {
            "type": "host",
            "key": "{$4}│{$1}{$5}  PC         {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "board",
            "key": "{$4}│{$1}{$5}  Board      {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "cpu",
            "key": "{$4}│{$1}{$5}  CPU        {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "gpu",
            "key": "{$4}│{$1}{$5} 󰾲 GPU        {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "display",
            "key": "{$4}│{$1}{$5} 󰍹 Display    {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{width}x{height} @{refresh-rate}Hz{$3}"
        },
        {
            "type": "sound",
            "key": "{$4}│{$1}{$5}  Sound      {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "memory",
            "key": "{$4}│{$1}{$5}  Memory     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{used} / {total} ({percentage}%){$3}",
            "percent": { "type": 3, "green": 30, "yellow": 70 }
        },
        {
            "type": "swap",
            "key": "{$4}│{$1}{$5} 󰯍 Swap       {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{used} / {total} ({percentage}%){$3}",
            "percent": { "type": 3, "green": 30, "yellow": 70 }
        },
        {
            "type": "disk",
            "key": "{$4}│{$1}{$5} 󰣨 Gentoo     {$4}│{$1}",
            "folders": ["/"],
            "format": "{$4}│{$2}{$9}{$7}{size-used} / {size-total} ({size-percentage}%){$3}",
            "percent": { "type": 3, "green": 30, "yellow": 70 }
        },
        {
            "type": "disk",
            "key": "{$4}│{$1}{$5}  Home       {$4}│{$1}",
            "folders": ["/home"],
            "format": "{$4}│{$2}{$9}{$7}{size-used} / {size-total} ({size-percentage}%){$3}",
            "percent": { "type": 3, "green": 30, "yellow": 70 }
        },
        {
            "type": "custom",
            "format": "{$4}└──────────────┘└────────────────────────────────────────────┘"
        },
        "break",

        // ═══════════════════════ SOFTWARE ═══════════════════════
        {
            "type": "custom",
            "format": "{$4}┌── Software ──┐┌────────────────────────────────────────────┐"
        },
        {
            "type": "os",
            "key": "{$4}│{$1}{$5} 󰣨 Distro     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "kernel",
	    "key": "{$4}│{$1}{$5} 󰞸 Kernel     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{release:-44}{$3}"
        },
        {
            "type": "bios",
            "key": "{$4}│{$1}{$5} 󰚗 BIOS       {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{vendor:-14} {version:-20}{$3}"
        },
        {
            "type": "packages",
            "key": "{$4}│{$1}{$5} 󰏖 Packages   {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{?emerge}{emerge} (portage){?}{$3}"
        },
        {
            "type": "processes",
            "key": "{$4}│{$1}{$5} 󰑮 Processes  {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{result:-44}{$3}"
        },
        {
            "type": "shell",
            "key": "{$4}│{$1}{$5} 󰳗 Shell      {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{pretty-name:-44}{$3}"
        },
        {
            "type": "terminal",
            "key": "{$4}│{$1}{$5}  Terminal   {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{pretty-name:-44}{$3}"
        },
        {
            "type": "terminalfont",
            "key": "{$4}│{$1}{$5} 󰛖 Term Font  {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "wm",
            "key": "{$4}│{$1}{$5}  Window Mgr {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{pretty-name:-44}{$3}"
        },
        {
            "type": "wmtheme",
            "key": "{$4}│{$1}{$5} 󰉼 Theme      {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{result:-44}{$3}"
        },
        {
            "type": "font",
            "key": "{$4}│{$1}{$5} 󰛖 Font       {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-44}{$3}"
        },
        {
            "type": "opengl",
            "key": "{$4}│{$1}{$5}  OpenGL     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{version:-44}{$3}"
        },
        {
            "type": "vulkan",
            "key": "{$4}│{$1}{$5} 󰈸 Vulkan     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{api-version:-44}{$3}"
        },
        {
            "type": "custom",
            "format": "{$4}└──────────────┘└────────────────────────────────────────────┘"
        },
        "break",

        // ═══════════════════ CONNECTIVITY ════════════════════
        {
            "type": "custom",
            "format": "{$4}┌ Connectivity ┐┌────────────────────────────────────────────┐"
        },
        {
            "type": "bluetooth",
            "key": "{$4}│{$1}{$5} 󰂱 Bluetooth  {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-30} {$3}"
        },
        {
            "type": "bluetoothradio",
            "key": "{$4}│{$1}{$5} 󰂯 BT Radio   {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{name:-30} {$3}"
        },
        {
            "type": "wifi",
            "key": "{$4}│{$1}{$5} 󰖩 WiFi       {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{ssid:-20} - {signal-quality}% - {band}GHz{$3}",
            "showErrors": "never"
        },
        {
            "type": "custom",
            "format": "{$4}└──────────────┘└────────────────────────────────────────────┘"
        },
        "break",

        // ═══════════════════════════ TIME ════════════════════════════
        {
            "type": "custom",
            "format": "{$4}┌─── Time ─────┐┌────────────────────────────────────────────┐"
        },
        {
            "type": "datetime",
            "key": "{$4}│{$1}{$5} 󰥔 Date/Time  {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{year}-{month-pretty}-{day-pretty} {hour-pretty}:{minute-pretty}{$3}"
        },
        {
            "type": "uptime",
            "key": "{$4}│{$1}{$5}  Uptime     {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{days} days, {hours}h {minutes}m{$3}"
        },
        {
            "type": "battery",
            "key": "{$4}│{$1}{$5} 󰢟 Battery    {$4}│{$1}",
            "format": "{$4}│{$2}{$9}{$7}{capacity} ({status}){$3}"
        },
        {
            "type": "disk",
            "key": "{$4}│{$1}{$5} 󰯑 OS Age     {$4}│{$1}",
            "folders": "/",
            "format": "{$4}│{$2}{$9}{$7}{create-time:-30} ({days} days){$3}"
        },
        {
            "type": "custom",
            "format": "{$4}└──────────────┘└────────────────────────────────────────────┘"
        },
        "break"
    ]
}

