@import "./colours.css";

* {
    font-family: "DepartureMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: alpha(@background, 0.75);
    border: 2px solid @active;
    color: @foreground;
}

tooltip {
    background: alpha(@background, 0.9);
    border: 1px solid @active;
    color: @foreground;
}

tooltip label {
    color: @foreground;
    padding: 2px 4px;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 4px 0;
}

#custom-menu,
#custom-swaync,
#clock,
#mpris,
#tray,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#battery,
#custom-power {
    padding: 6px 0;
    min-width: 48px;
    color: @foreground;
}

#pulseaudio {
	padding-right: 5px;
}
#pulseaudio.microphone {
	padding-left: 5px;
}

#network {
	padding-right: 4px
}

#clock {
	font-size: 18px;
    font-family: "Ndot 55";
    color: @foreground;
    margin-left: 2px;
}

#workspaces {
    padding: 4px 0;
}

#workspaces button {
    color: alpha(@foreground, 0.4);
    background: alpha(@foreground, 0.08);
    border-radius: 20px;
    margin: 3px 6px;
    padding: 4px 0;
    min-width: 36px;
    min-height: 22px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color: @active;
    background: alpha(@active, 0.25);
    border-radius: 14px;
    margin: 3px 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 36px;
}󰫣 

#workspaces button.urgent {
    color: @color2;
    background: alpha(@color2, 0.2);
    border-radius: 20px;
}

#workspaces button:hover {
    color: @active;
    background: alpha(@active, 0.15);
    border-radius: 20px;
}

#battery.warning { color: @color3; }
#battery.critical { color: @color2; }
#battery.charging { color: @color4; }
#bluetooth.connected { color: @active; }
#network.disconnected { color: alpha(@foreground, 0.3); }
#custom-power { 
	color: @color3; 
	background: alpha(@active, 0.3);
	border-radius: 12px;
	margin: 3px 6px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 4px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 6px;
    min-height: 60px;
    background: alpha(@background, 0.6);
}
#backlight-slider highlight,
#pulseaudio-slider highlight {
    background: @active;
}

@keyframes blink {
    to { color: @background; }
}

#custom-drawer-toggle {
	font-size: 20px;
    font-family: "DepartureMono Nerd Font";
    margin-right: 4px;
}

#custom-drawer-toggle {
    color: @color12;
}
