# ~/.config/ghostty/config

# Font
font-family = DepartureMono Nerd Font Mono
font-size = 13

# Cursor
cursor-style = bar
cursor-style-blink = true

# Colours
background = {{ .colors.background }}
foreground = {{ .colors.foreground }}
cursor-color = {{ .colors.cursor }}
cursor-text = {{ .colors.background }}
selection-background = {{ .colors.color4 }}
selection-foreground = {{ .colors.color15 }}

palette = 0={{ .colors.color0 }}
palette = 1={{ .colors.color1 }}
palette = 2={{ .colors.color2 }}
palette = 3={{ .colors.color3 }}
palette = 4={{ .colors.color4 }}
palette = 5={{ .colors.color5 }}
palette = 6={{ .colors.color6 }}
palette = 7={{ .colors.color7 }}
palette = 8={{ .colors.color8 }}
palette = 9={{ .colors.color9 }}
palette = 10={{ .colors.color10 }}
palette = 11={{ .colors.color11 }}
palette = 12={{ .colors.color12 }}
palette = 13={{ .colors.color13 }}
palette = 14={{ .colors.color14 }}
palette = 15={{ .colors.color15 }}

# Window
window-padding-x = 12
window-padding-y = 10
window-decoration = none
confirm-close-surface = false
gtk-titlebar = false
gtk-tabs-location = hidden

# Shell — autostart tmux
command = tmux new-session -A -s ghostty-$RANDOM

# Shader
custom-shader = ~/.config/ghostty/crt.glsl

# Keybinds
keybind = ctrl+equal=increase_font_size:1
keybind = ctrl+minus=decrease_font_size:1
keybind = ctrl+zero=reset_font_size
keybind = ctrl+plus=increase_font_size:1
keybind = ctrl+shift+c=copy_to_clipboard
keybind = ctrl+shift+v=paste_from_clipboard
