configuration {
    modi: "drun,run,filebrowser";
    font: "JetBrains Mono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "Apps";
    display-run: "Run";
    display-filebrowser: "Files";
    drun-display-format: "{name}";
    hover-select: false;
    grid-columns: 6;
    grid-element-height: 150px;
    grid-element-width: 150px;
}

@theme "~/.config/rofi/theme.rasi"
