{{ include "dot_config/niri/partials/input.kdl.tmpl" }}
{{ include "dot_config/niri/partials/output.kdl.tmpl" }}
{{ include "dot_config/niri/partials/layout.kdl.tmpl" }}
{{ include "dot_config/niri/partials/startup.kdl.tmpl" }}
{{ include "dot_config/niri/partials/misc.kdl.tmpl" }}
{{ include "dot_config/niri/partials/window-rules.kdl.tmpl" }}
{{ include "dot_config/niri/partials/binds.kdl.tmpl" }}
