local M = {}

-- Original terminal palette
M.colors = {
    background = "{{ .colors.background }}",
    foreground = "{{ .colors.foreground }}",
    cursor     = "{{ .colors.cursor }}",

    color0  = "{{ .colors.color0 }}",
    color1  = "{{ .colors.color1 }}",
    color2  = "{{ .colors.color2 }}",
    color3  = "{{ .colors.color3 }}",
    color4  = "{{ .colors.color4 }}",
    color5  = "{{ .colors.color5 }}",
    color6  = "{{ .colors.color6 }}",
    color7  = "{{ .colors.color7 }}",
    color8  = "{{ .colors.color8 }}",
    color9  = "{{ .colors.color9 }}",
    color10 = "{{ .colors.color10 }}",
    color11 = "{{ .colors.color11 }}",
    color12 = "{{ .colors.color12 }}",
    color13 = "{{ .colors.color13 }}",
    color14 = "{{ .colors.color14 }}",
    color15 = "{{ .colors.color15 }}",
}

-- Base16 palette for mini.base16
M.base16 = {
    base00 = "{{ .colors.background }}",
    base01 = "{{ .colors.color0 }}",
    base02 = "{{ .colors.color8 }}",
    base03 = "{{ .colors.color8 }}",
    base04 = "{{ .colors.color7 }}",
    base05 = "{{ .colors.foreground }}",
    base06 = "{{ .colors.color15 }}",
    base07 = "{{ .colors.color15 }}",

    base08 = "{{ .colors.color1 }}",
    base09 = "{{ .colors.color9 }}",
    base0A = "{{ .colors.color3 }}",
    base0B = "{{ .colors.color2 }}",
    base0C = "{{ .colors.color6 }}",
    base0D = "{{ .colors.color4 }}",
    base0E = "{{ .colors.color5 }}",
    base0F = "{{ .colors.color13 }}",
}

return M
