pragma Singleton
import QtQuick

QtObject {
    readonly property color background: "{{ .colors.background }}"
    readonly property color foreground: "{{ .colors.foreground }}"
    readonly property color cursor:     "{{ .colors.cursor }}"

    readonly property color color0:  "{{ .colors.color0 }}"
    readonly property color color1:  "{{ .colors.color1 }}"
    readonly property color color2:  "{{ .colors.color2 }}"
    readonly property color color3:  "{{ .colors.color3 }}"
    readonly property color color4:  "{{ .colors.color4 }}"
    readonly property color color5:  "{{ .colors.color5 }}"
    readonly property color color6:  "{{ .colors.color6 }}"
    readonly property color color7:  "{{ .colors.color7 }}"
    readonly property color color8:  "{{ .colors.color8 }}"
    readonly property color color9:  "{{ .colors.color9 }}"
    readonly property color color10: "{{ .colors.color10 }}"
    readonly property color color11: "{{ .colors.color11 }}"
    readonly property color color12: "{{ .colors.color12 }}"
    readonly property color color13: "{{ .colors.color13 }}"
    readonly property color color14: "{{ .colors.color14 }}"
    readonly property color color15: "{{ .colors.color15 }}"
    readonly property color accent: color3
    readonly property real  opacity: 0.90
}
